.carousel-container{
    width: 750px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
li,span{
    width: 20px;
    height: 20px;
    float: left;
    background: black;
    color: white;
    list-style: none;
    margin-right: 5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.carousel-tab {
    position: absolute;
    bottom: 0;
    right: 0;
}
.carousel-arrow{
    position: absolute;
    bottom: 0;
    left: 0;
}
li.selected{
    background: orange;
}
li.circle{
    border-radius: 50%;
}